
.alert {
  border: solid 1px #ccc;

}

[v-cloak] {
  display: none;
}

html :not(body[style]) {
  font-size: 0;
}

.selecter,
.form-control {
  display: block;
  width: 100%;
}

.ck-content.ck-editor__editable {
  min-height: 500px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px
}

::-webkit-scrollbar-track {
  background: #333
}

::-webkit-scrollbar-thumb {
  background: #7086ad
}

::-webkit-scrollbar-thumb:hover {
  background: #af9292;
  cursor: pointer
}

.constructor-wrapper  label {
  display: none;
}

.vue-table {
  .table-info {
    background: transparent;
  }
}

#mychart {
  height: 200px;
}

.virtual {
  &-form-row {
    margin-bottom: 10px;
  }
}

@media(min-width: 1024px) {
  .selecter,
  .form-control {
    display: block !important;
    max-width: 400px;
  }
}